.header {
    background-color: #3D1259;
    padding: 80px;
    height: 335px;
    color: #fff;
    text-align: center;
    width: 100%;
    align-items: center;
}

@media screen and (max-width:991px) {
    .kartu {
        flex-direction: column;
        align-items: center;
    }

    .imgfite{
        width: 100%;
        width: 80%;
    }
    
    .fitecard{
        flex-direction: column;
        align-items: center;
    }
   
}

@media screen and (max-width:800px) {
    .kartu {
        flex-direction: column;
        align-items: center;
    }

    .header {
        padding:50px;
        height: 280px;
        color: #fff;
        text-align: center;
        width: 100%;
        align-items: center;
    }

    .lulusandelimg{
        width: 80%;
    }

    .fiteimg{
        width:80%;
    }

}

@media screen and (max-width:1426px) {
    .hompeng {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .daftarnow {
        flex-direction: column;

    }

    .daftar_image {
        width: 100%;
        height: 180px;
        /* Mengisi lebar layar pada layar yang lebih kecil dari atau sama dengan 700px */
    }
}


.carousel>.carousel-inner>.carousel-item>img {
    height: 50vh;


}


@media screen and (min-width:1142px) {
    .heder {
        padding-left: 200px;
        padding-right: 200px;

    }

    .sechead {
        display: flex;
        justify-content: end;
    }

    .ulli {
        padding-right: 50px;
    }

    .nav-item .dropdown-menu {
        display: none;
      }
      
      .nav-item:hover .dropdown-menu {
        display: block;
      }
      
      .nav-link:hover {
        cursor: pointer;
      }


}


.shape {
    background-color: #3D1259; /* Set background color for the shape */
    color: #fff; /* Set text color for the shape */
    padding: 15px; /* Adjust padding as needed */
    margin-right: 10px; /* Add some space between the shape and text */
    border-radius: 5px; /* Add rounded corners to the shape */
    width: 60px; /* Set a fixed width for the shape */
    text-align: center; /* Center the text within the shape */
    height: 80px;
    text-align: center;
  }



